pom.xml
pom.xml.asc
.projectile
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.repl-file
*.repl-file
.clj-kondo/*
.lsp/*
.vscode/*

installer/inno-target/
installer/*.exe
.git-credentials
*.tex
docs/public/site
*.log

jarman/.vscode/settings.json
jarman/.lsp/sqlite.db
jarman/test-repository
jarman/test-repository.zip
jarman/log/
jarman/*log.org
jarman/*log.clj
jarman/target
jarman/src/jarman/resource_lib

