pom.xml
pom.xml.asc
.projectile
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.repl-file
*.repl-file
.clj-kondo/*
.lsp/*
.vscode/*
jarman/.vscode/settings.json
jarman/.lsp/sqlite.db
installer/inno-target/
installer/*.exe

