{:lan0-doc {:space 20,
            :header "Konfiguracja językowa",
            :description "Ustawienie języka dla komponentów w aplikacji.",
            :parameters ["button_save \"Zapisz\""]}
  :language {:buttons {:remove "Usuń"
                       :excel-export "Exportuj do Excela"
                       :run-app "Połącz"
                       :settings "Ustawienia"
                       :save "Zapisz"
                       :search "Szukaj"
                       :test-connection-success "Nawiązano połączenie z bazą danych."
                       :test-connection-fail "Błąd łączenia, sprawdz konfiguracje"
                       :register "Rejestr"
                       :back "Cofnij"
                       :disconnect-RFID "Odłącz"
                       :rfid "Karty RFID"
                       :filter-clean "Usuń filtr"
                       :inputs-clean "Wyczyść"
                       :workers "Pracownicy"
                       :test-connection "Testuj połączenie"
                       :save-and-reload "Zapisz i przeładuj"}
             :alerts {:changes-saved "Zapisano zmiany do pliku!"
                      :save-changes? "Czy chcesz zapisać zmiany?"
                      :changes-saved-but-need-reload "Zapisano zmiany! Będą one widoczne po restarcie aplikacji."
                      :delete? "Czy napewno chcesz usunąć element?"
                      :testing-connection "Łączenie z bazą"
                      :title-information "Informacja"
                      :write-enter-search "Wpisz frazę i kliknij - ENTER - by szukać w tabeli."}
             :basic {:yes "Tak"
                     :in-short "We"
                     :click-to-choose "Kliknij by wybrać"
                     :config-to-file "Konfiguracja do pliku -> "
                     :out "Wyjście"
                     :out-short "Wy"
                     :search-tool "Wyszukiwarka"
                     :no "Nie"
                     :in "Wejście"
                     :date-start "Data od"
                     :date-end "Data do"
                     :search-input "Wyszukaj"
                     :description "Opis"
                     :parameters "Parametry"}
             :tips {:save "Zapisz zmiany."
                    :clean "Wyczyść pola powyżej."
                    :del "Usuń pozycję z tabeli."
                    :clean-filter "Wyczyść filtr wyszukiwania."
                    :search "Szukaj po tabeli."
                    :user-trash-can "Odłącz użytkownika od karty."
                    :excel "Zapisz widok do excela."}
             :work-info {:worker-type  ["" "Umysłowy" "Fizyczny"]
                         :section ["" "DN" "WP" "DE" "EK" "EP" "HSM" "HE" "HMS" "NB" "TKT" "TME" "NKJ" "WP"]}}}
