{:name "Data configuration",
 :doc
 "This configuration page describe data binding and data environment of program. De-facto is a backend for jarman.",
 :display :none,
 :type :file,
 :value
 {:datalist
  {:name "Connection to database",
   :doc
   "Section describe MySQL/MariaDB connection property need to JDBC connector. You must set right hostname(server ip adress and port), database name also application user and passwordq",
   :type :block,
   :display :none,
   :value
   {:jarman--localhost--3306
    {:name "Localhost",
     :type :block,
     :display :edit,
     :value
     {:dbtype
      {:name "Typ połączenia",
       :type :param,
       :display :none,
       :component :text,
       :value "mysql"},
      :host
      {:name "Database host",
       :doc
       "Enter jarman SQL database server. It may be IP adress, or domain name, where your server in. Not to set port in this input.",
       :type :param,
       :display :edit,
       :component :text,
       :value "localhost"},
      :port
      {:name "Port",
       :doc
       "Port of MariaDB/MySQL server. In most cases is '3306' or '3307'",
       :type :param,
       :display :edit,
       :component :textnumber,
       :value 3306},
      :dbname
      {:name "Database name",
       :type :param,
       :display :edit,
       :component :text,
       :value "jarman"},
      :user
      {:name "User login",
       :type :param,
       :display :edit,
       :component :text,
       :value "root"},
      :password
      {:name "User password",
       :type :param,
       :display :edit,
       :component :text,
       :value ""}}},
    :jarman--trashpanda-team_ddns_net--3306
    {:name "Dell",
     :type :block,
     :display :edit,
     :value
     {:dbtype
      {:name "Typ poе┌д┘czenia",
       :type :param,
       :display :none,
       :component :text,
       :value "mysql"},
      :host
      {:name "Database host",
       :doc
       "Enter jarman SQL database server. It may be IP adress, or domain name, where your server in. Not to set port in this input.",
       :type :param,
       :display :edit,
       :component :text,
       :value "trashpanda-team.ddns.net"},
      :port
      {:name "Port",
       :doc
       "Port of MariaDB/MySQL server. In most cases is '3306' or '3307'",
       :type :param,
       :display :edit,
       :component :textnumber,
       :value 3307},
      :dbname
      {:name "Database name",
       :type :param,
       :display :edit,
       :component :text,
       :value "jarman"},
      :user
      {:name "User login",
       :type :param,
       :display :edit,
       :component :text,
       :value "root"},
      :password
      {:name "User password",
       :type :param,
       :display :edit,
       :component :text,
       :value "1234"}}},
    :jarman--trashpanda-team_ddns_net--3307
    {:name "Raspberry",
     :type :block,
     :display :edit,
     :value
     {:dbtype
      {:name "Typ poе┌д┘czenia",
       :type :param,
       :display :none,
       :component :text,
       :value "mysql"},
      :host
      {:name "Database host",
       :doc
       "Enter jarman SQL database server. It may be IP adress, or domain name, where your server in. Not to set port in this input.",
       :type :param,
       :display :edit,
       :component :text,
       :value "trashpanda-team.ddns.net"},
      :port
      {:name "Port",
       :doc
       "Port of MariaDB/MySQL server. In most cases is '3306' or '3307'",
       :type :param,
       :display :edit,
       :component :textnumber,
       :value 3307},
      :dbname
      {:name "Database name",
       :type :param,
       :display :edit,
       :component :text,
       :value "pepeland"},
      :user
      {:name "User login",
       :type :param,
       :display :edit,
       :component :text,
       :value "root"},
      :password
      {:name "User password",
       :type :param,
       :display :edit,
       :component :text,
       :value "1234"}}}}}}}
