{:pl
 {:ui
  {:buttons
   {:no      "Nie"
    :yes     "Tak"
    :add     "Dodaj"
    :back    "Cofnij"
    :save    "Zapisz"
    :later   "Później"
    :login   "Login"
    :cancel  "Anuluj"
    :remove  "Usuń"
    :export  "Exportuj"
    :goback  "Wróć"
    :search  "Szukaj"
    :reload  "Przeładuj"
    :sign-in "Zaloguj"
    :logout  "Wyloguj"
    :connect "Połącz"
    :workers "Pracownicy"
    :refresh "Odśwież"
    :settings        "Ustawienia"
    :password        "Hasło"
    :register        "Rejestr"
    :close-app       "Zamknij aplikację"
    :reload-app      "Przeładuj aplikację"
    :export-odt      "Zapisz jako .odt"
    :disconnect      "Odłącz"
    :select-all      "Zaznacz wszystko"
    :rfid-cards      "Karty RFID"
    :clean-inputs    "Wyczyść pola"
    :show-changes    "Wyświetl zmiany"
    :clean-filters   "Wyczyść filtrowanie"
    :export-to-excel "Exportuj do Excela"
    :save-and-reload "Zapisz i przeładuj"
    :test-connection "Testuj połączenie"
    :messages-history "Historia powiadomień"
    :back-to-login-panel        "Wróć do panelu logowania"
    :restore-last-configuration "Przywróć ostatnią konfigurację"
    :reload-active-view "Przeładuj otwarty widok"
    :check-updates      "Sprawdź aktualizacje"
    :download           "Pobierz"
    :install            "Instaluj"
    :reinstall          "Reinstall"
    :downgrade          "Downgrade"
    :clean-environment  "Wyczyść zmienne środowiskowe"
    :extension-manager  "Menedżer rozszerzeń"
    :theme-manager      "Menedżer skórek"
    :var-list-panel     "Lista zmiennych"
    :db-visualizer      "DB Visualizer"
    :update-manager     "Menedżer aktualizacji"
    :apply              "Zastosuj"
    },
   
   :header
   {:available-packages "Dostępne pakiety",
    :avaliable-updates "Aktualizacje są dostępne!",
    :choose-language "Wybierz język",
    :choose-theme "Wybierz skórkę",
    :config-panel-title "Konfiguracje",
    :contact "Kontakt",
    :contacts-info "Kontakt",
    :current-version "Obecna wersja",
    :dbname "Baza danych",
    :dbtype "Typ połączenia",
    :error "Błąd",
    :error-sql-query "Błąd SQL",
    :extension-manager "Menedżer rozszerzeń",
    :failed "Niepowodzenie!",
    :faq "FAQ",
    :file-no-choose "Nie wybrano pliku",
    :host "Host",
    :info "Powiadomienie",
    :installed-extentions "Zainstalowane rozszerzenia",
    :licenses "Licencje",
    :loaded-theme "Załadowana skórka",
    :login-db-config-editor "Konfiguracja połącznia z bazą danych.",
    :need-reload "Potrzebne przeładowanie",
    :packages-to-install "Pakiety do instalacji",
    :password "Hasło do bazy",
    :physical_address "Adres",
    :port "Port",
    :pusty "Pusto",
    :select-language "Wybór języka",
    :success "Sukces!",
    :system-information "Informacje o systemie",
    :system-updated "System jest aktualny",
    :update-error "Błąd aktualizacji",
    :update-manager "Menedżer aktualizacji",
    :upload-license "Dodaj nową licencję",
    :user "Użytkownik bazy",
    :warning "Uwaga"}
   
   :alerts
   {:app-startup-fail "Wystąpił błąd aplikacji. Funkcja startująca nie została załadowana.",
    :changes-saved "Zapisano zmiany",
    :changes-saved-but-need-reload "Zapisano zmiany. By je zastosować zrestartuj aplikację.",
    :changes-saved-failed "Zapisanie zmian nie powiodło się",
    :check-connection "Sprawdź połączenie.",
    :choose-file-and-try-again "Proszę wybrać właściwy plik i spróbować raz jeszcze.",
    :column-save-failed-message "Wszystkie pola muszą być wypełnione i posiadać co najmniej 3 znaki.",
    :column-saved-message "Zapisano zmiany w kolumnach.",
    :config-deleted "Lokalna konfiguracja Jarman została usunięta.",
    :configuration-corrupted "Konfiguracja jest uszkodzona. Spróbuj przywrócić wcześniejszą wersję.",
    :configuration-incorrect "Konfiguracja jest błędna. Proszę sprawdź parametry połączenia.",
    :connected-to-database "Nawiązano połączenie z bazą danych.",
    :connection-error "Błąd połączenia, sprawdz konfigurację.",
    :connection-faild "Połączenie nie powiodło się.",
    :connection-problem "Problem z połączeniem. Nie można połączyć się z bazą danych.",
    :delete-element? "Czy napewno chcesz usunąć element?",
    :downgrade-success "Downgrade z wersji %s do %s przebiegł pomyślnie.",
    :error-parsing-license "Bląd parsowania pliku licencji",
    :field-is-empty "Pole jest puste!",
    :incorrect-input-fields "Nie wszystkie pola są prawidłowo wypełnione!",
    :incorrect-login-or-pass "Nieprawidłowy login lub hasło. Upewnij się czy posiadasz dobre dane logowania.",
    :information "Informacja",
    :invalid-date-time-interval-info "Pole z datą nie może pozostać puste. Data początkowa musi być wcześniejsza niż data zakończenia.",
    :new-license-instaled "Nowa licencja jest gotowa do użytku.",
    :no-updates "Nie znaleziono dostępnych aktualizacji.",
    :package-downloaded "Paczka %s została pobrana.",
    :plugin-installed "Jarman %s zainstalowany pomyślnie.",
    :reloaded-extension "Rozszerzenie `%s` przeładowano pomyślnie.",
    :restore-configuration-ok "Przywrócono konfiguracje! Proszę bądź ostrożny następnym razem.",
    :save-changes? "Czy chcesz zapisać zmiany?",
    :something-went-wrong "Coś poszło nie tak. Nieokreślony błąd.",
    :success "Sukces!",
    :testing-connection "Testowanie połączenia z bazą danych.",
    :tests-failed "Ładowanie zakończone niepowodzeniem <Tests failed>",
    :unknown-database "Nieznana baza danych.",
    :unsaved-changes-body "Wprowadzono zmiany w konfiguracji, które nie zostały zapisane. Czy zamknąć okno mimo to?",
    :unsaved-changes-title "Nie zapisano zmian!",
    :write-enter-search "Wpisz frazę i kliknij - ENTER - by wyszukać w tabeli."},
   
   :basic
   {:description "Opis",
    :yes "Tak",
    :empty "Pusty",
    :selected "Wybrany",
    :search-input "Wyszukaj",
    :in-short "We",
    :date-end "Data do",
    :click-to-choose "Kliknij by wybrać",
    :config-to-file "Konfiguracja do pliku -> ",
    :out "Wyjście",
    :date-start "Data od",
    :out-short "Wy",
    :search-tool "Wyszukiwarka",
    :parameters "Parametry",
    :no "Nie",
    :in "Wejście"
    :configuration  "Konfiguracja"
    :db-conn-config "Konfiguracja DB"
    :extension      "Rozszerzenie"
    :version        "Wersja"
    :package        "Paczka"
    :source         "Źródło"
    :theme          "Skórka"
    :variable       "Zmienna"
    :license-code   "Kod licencji"
    :select-file    "Wybierz plik..."
    :unsaved-changes "Niezapiano zmian"
    :saved           "Zapisano"
    },
   
   :tips
   {:save "Zapisz zmiany.",
    :clean "Wyczyść pola powyżej.",
    :del "Usuń pozycję z tabeli.",
    :clean-filter "Wyczyćś filtr wyszukiwania.",
    :search "Szukaj po tabeli.",
    :user-trash-can "Odłącz użytkownika od karty.",
    :excel "Zapisz widok do excela."
    :press-to-search "Wciśnij Ctrl + F by wyszukać rekord."
    :related-popup-table "Wyszukaj w powiązanej tabeli"}
   
   :infos
   {:no-items     "Brak pozycji"
    :info-panel-about   [["Trashpanda-Team" "Jesteśmy zespołem przyjaciół programistów mających na celu stworzenie uniwersalnej, a przy tym prostej w obsódze i rozwoju aplikacji. Kodzimy bo lubimy, kodzimy bo możemy, kodzimy by nasi klienci otrzymali to czego potrzebują."]
                         ["Jarman"  "Bazowa wersja aplikacji. Naszym marzeniem jest możliwość dostosowania jej do każdego przypadku, rozszerzając podstawowe funkcje z pomocą dołączanych pluginów oraz konfiguracji."]]
    
    :config-panel-about [["O konfiguracji" "Formatka dla konfiguracji w prosty sposób pozwoli na zapisanie lub edycję połączeń do bazy danych. Na tej podstawie możliwe będzie logowanie do systemu i uruchomienie aplikacji."]]

    :info-panel-faq   [{:question "Wystąpił problem i potrzebujesz pomocy?"
                        :answer   "Złap oddech i zachowuj spokój, nasz zespół z chęcią Ci pomoże. Dane kontaktowe znajdują się poniżej."}]

    :config-panel-faq [{:question "Dlaczego nie mogę się połączyć z serwerem?"
                        :answer   "Być może nieprawidłowo podano dane dla konfiguracji połączenia. Upewnij się, że konfiguracja jest prawidłowa. Jeśli nadal występuje problem, proszę sprawwdź połączenie z serwerem."}]

    :contact ["http://trashpanda-team.ddns.net"
              "contact.tteam@gmail.com"]}

   :license
   {:tenant                  "najemca"
    :license                 "licencja"
    :id-tenant               "id najemcy"
    :limitation              "ograniczenie"
    :creation-date           "tworzenie bazy danych"
    :expiration-date         "data wygaśnięcia"
    :broken-license          "Uszkodzone szyfrowanie licencji. Być może hash license został zmieniony."
    :empty-session-map       "Mapa sesji jest pusta, jeśli widzisz ten błąd powinieneś się skontaktować z pomocą techniczną."
    :cannot-connect-db       "Nie można podłączyć zdalnej bazy danych."
    :license-not-found       "Produkt jest niezarejestrowany"
    :bad-connection-settings "Błąd połączenia, proszę sprawdzić konfigurację."
    :license-expire-day-30 "Licencja wygaśnie za %d dni"
    :license-expire-day-15 "No cześć) jestem twoim sumieniem... i podobno zapomniałeś o coś"
    :license-expire-day-14 "A witam! to komunikat od głodnego i zmęczonego programisty, który siedział dniami i nocami przed tym systemem. Zlituj się i zaplać mi"
    :license-expire-day-13 "Gdzie mój szmalec Lebowski!"
    :license-expire-day-12 "Zgloszę do policji (=__=) !"
    :license-expire-day-11 "A wiesz co? Masz piękne oczy. Zaplać mi"
    :license-expire-day-10 "Programista który mnie napisał ma chorom córkę"
    :license-expire-day-9 "Tylko dla cbie okazja, kup licencje, i w gratisie dostaniesz Wódeczkę!"
    :license-expire-day-8 "Wiesz gdzie trafiają osoby, które nie placą za program? Do piekła. Zastanów się"
    :license-expire-day-7 "Mocny jesteś! Wiesz że teraz ja mam kontrole nad komputerem? I mam twój email. Chcesz codziennie dostawać pokrojony tekst piosenek Jastina Bibbera?"
    :license-expire-day-6 "Poddaje się..."
    :license-expire-day-5 "KUP MNIE!!!"
    :license-expire-day-4 "Spokojnie, jak zobaczysz czterych mężczyzn w dresach - to działu marketingu po kasę"
    :license-expire-day-3 "Powiem twojej żonie/mężowi że widziałem ciebie z innym/inną. He-he-he-he"
    :license-expire-day-2 "Daje ci ostatnią szans. Dwa dni do końca licencji!"
    :license-expire-day-1 "Jeden dzień do końca licencji. A wiesz że Trashpanda Team bierze urlop na tydzień od jutro :)?"
    :license-expire-day-0 "Poczekam aż zanim wrócisz z kwiatami i przeprosinami, lubie tulipany"
    :license-outdated     "haha, już nie masz mocy tu, licencja wygasła, skórzany worku!"}}},
 
 :en
 {:ui
  {:buttons
   {:remove "Remove"
    :yes "Yes"
    :no "No"
    :add "Add"
    :cancel "Cancel"
    :show-changes "Show changes"
    :export-to-excel "Export to Excel"
    :export "Export"
    :connect "Connect"
    :settings "Settings"
    :save "Save"
    :search "Search"
    :connect-to-database "Connect to database"
    :register "Register"
    :back "Back"
    :goback "Step back"
    :restore-last-configuration "Restore last configuration"
    :disconnect "Disconnect"
    :rfid-cards "RFID cards"
    :clean-filters "Clean filters"
    :clean-inputs "Clean fields"
    :workers "Workers"
    :test-connection "Test connection"
    :save-and-reload "Save and reload"
    :login "Login"
    :password "Password"
    :back-to-login-panel "Return to login panel"
    :select-all "Select all"
    :refresh "Refresh"
    :export-odt "Export to .odt"
    :close-app  "Close App"
    :logout     "Logout"
    :sign-in    "Login"
    :messages-history   "Message history"
    :reload-active-view "Reload opened view"
    :reload-app         "Reload app"
    :check-updates      "Check updates"
    :later              "Later"
    :download           "Download"
    :install            "Install"
    :reinstall          "Reinstall"
    :downgrade          "Downgrade"
    :clean-environment  "Clean environment"
    :extension-manager  "Extension manager"
    :theme-manager      "Theme manager"
    :var-list-panel     "Vars list"
    :db-visualizer      "DB Visualizer"
    :update-manager     "Update manager"
    :reload             "Reload"
    :apply              "Apply"
    }
   
   :header
   {:login-db-config-editor "Configuration of DB connection."
    :dbtype "Connection type"
    :host   "Host"
    :port   "Port"
    :database "Database"
    :user   "User"
    :password "DB password"
    :contact  "Contact"
    :faq      "FAQ"
    :error    "Error"
    :warning  "Warning"
    :info     "Information"
    :success  "Success!"
    :failed   "Niepowodzenie!"
    :error-sql-query "SQL query error"
    :contacts-info   "Contact"
    :physical_address "Address"
    :config-panel-title "Configurations"
    :select-language    "Language selection"
    :choose-language    "Choose language"
    :need-reload        "Reload is needed"
    :avaliable-updates  "Updates are avaliable!"
    :update-manager     "Update manager"
    :system-information "System information"
    :packages-to-install "Package to install"
    :available-packages "Available packages"
    :current-version    "Current version"
    :pusty              "Empty"
    :update-error       "Update error"
    :system-updated     "System is updated"
    :downgrade-success  "Downgrade from %s to %s version was successfully"
    :extension-manager  "Extension manager"
    :installed-extentions "Installed extentions"
    :loaded-theme        "Loaded theme"
    :choose-theme        "Choose theme"
    :licenses            "Licenses"
    :upload-license      "Upload new license"
    :file-no-choose      "No file selected"}

   :alerts
   {:app-startup-fail "Aplication error. Startup function was not loaded.",
    :changes-saved "Saved changes!",
    :changes-saved-but-need-reload "Saved changes. To apply restart app.",
    :changes-saved-failed "Can not saving changes.",
    :check-connection "Check connection.",
    :choose-file-and-try-again "Please choose file and try again.",
    :column-save-failed "Can not save the column parameters.",
    :column-save-failed-message "All fields must be entered and must be longer than 3 chars.",
    :column-saved-message "Saved changes in columns.",
    :config-deleted "Local Jarman configuraion was deleted",
    :configuration-corrupted "The configuration is corrupted. Try to roll back to an earlier version.",
    :configuration-incorrect "Configuration is incorrect. Please check connection parameters.",
    :connected-to-database "Connected to database.",
    :connection-error "Failed connection with database.",
    :connection-faild "Connection faild.",
    :connection-problem "Connection problem. Can not connect to Database.",
    :delete-element? "Are you sure you want to remove item?",
    :error-parsing-license "Error passing license"
    :export-doc-faild "An error was encountered during export. Action failed.",
    :export-doc-ok "Successfully exported the document.",
    :faild "! Faild !",
    :field-is-empty "Field is empty!",
    :incorrect-input-fields "Not all fields are correct!",
    :incorrect-login-or-pass "Incorrect login or password. Please check if your login informations are correct.",
    :information "Information",
    :invalid-date-time-interval-info "Fields with date cannot be empty. Start day must be earlier than end date.",
    :new-license-instaled "New license is already prepared to using",
    :no-updates "No avaliable updates.",
    :package-downloaded "Package %s was downloaded",
    :plugin-installed "Jarman %s installed successfully",
    :reloaded-extension "Extension `%s` successfully reloaded.",
    :restore-configuration-ok "Configurations restored! Please be careful next time.",
    :save-changes? "Do you want to save changes?",
    :something-went-wrong "Something went wrong. Unknow problem.",
    :success "Success!",
    :testing-connection "Testing a database connection.",
    :tests-failed "Loading failed <Tests failed>",
    :unknown-database "Unknown database.",
    :unsaved-changes-body "Configuration changes have been made but not saved. Should I close the window anyway?",
    :unsaved-changes-title "Unsaved changes!",
    :write-enter-search "Enter the phrase and click - Enter - to search in the table."}
   :basic
   {:description "Description"
    :yes "Yes"
    :empty "Empty"
    :selected "Selected"
    :search-input "Search"
    :in-short "In"
    :date-end "Date from"
    :click-to-choose "Click to choose"
    :config-to-file "Configuration to file -> "
    :out "Out"
    :date-start "Date to"
    :out-short "Out"
    :search-tool "Search engine"
    :parameters "Parameters"
    :no "No"
    :in "Entrance"
    :configuration "Configuration"
    :db-conn-config "DB Configuration"
    :extension      "Extension"
    :version        "Version"
    :package        "Package"
    :source         "Source"
    :theme          "Theme"
    :variable       "Variable"
    :license-code   "License code"
    :select-file    "Select file..."
    :unsaved-changes "Unsaved changes"
    :saved           "Saved"
    }
   
   :tips
   {:save "Save changes."
    :clean "Clean up fields."
    :del "Remove item from table."
    :clean-filter "Clear search filter."
    :search "Search in table."
    :user-trash-can "Disconnect user from card."
    :excel "Save view to excel."
    :press-to-search "Press Ctrl + F to search record."
    :related-popup-table "Search inside related table"}
   
   :infos
   {:no-items     "No items"
    :info-panel-about   [["Trashpanda-Team"
                          "We are a team of programmer friends who aim to create a universal application that is easy to use and expand. We coding because we like, we coding because we can, we coding becouse our clients need good solutions."]
                         ["Jarman"
                          "The base version of the application. Our dream is to be able to adapt it to each case, extending the basic functions with using plugins and configurations."]]
    
    :config-panel-about [["About configuration"
                          "The form for configuration allows you to easily save or edit connections to the database. On this basis, it will be possible to log into the system and launch the application."]]

    :info-panel-faq   [{:question "There was a problem and you need help?"
                        :answer   "Catch your breath and stay calm, our team will be happy to help you. Contact details are provided below."}]

    :config-panel-faq [{:question "Why can't I log into the system?"
                        :answer   "Perhaps the data for the connection configuration was incorrectly provided. Make sure the configuration is correct. If there is still a problem, please check the connection to the server."}]

    :contact ["http://trashpanda-team.ddns.net"
              "contact.tteam@gmail.com"]}
   :license
   {:tenant                  "tenant"
    :license                 "license"
    :id-tenant               "id tenant"
    :limitation              "limitation"
    :creation-date           "creation date"
    :expiration-date         "expiration date"
    :broken-license          "Broken license decription, maybe license hash was changed"
    :empty-session-map       "Session map is empty, this error you shuldn't see, please contact to tech support"
    :cannot-connect-db       "Cannot connect to remote database"
    :license-not-found       "Product are not registred"
    :bad-connection-settings "Bad connection settings, please carefully checkout your connections"
    :license-expire-day-30   "License expired after %d days"
    :license-expire-day-15   "License expired after %d days"
    :license-expire-day-14   "License expired after %d days"
    :license-expire-day-13   "License expired after %d days"
    :license-expire-day-12   "License expired after %d days"
    :license-expire-day-11   "License expired after %d days"
    :license-expire-day-10   "License expired after %d days"
    :license-expire-day-9    "License expired after %d days"
    :license-expire-day-8    "License expired after %d days"
    :license-expire-day-7    "License expired after %d days"
    :license-expire-day-6    "License expired after %d days"
    :license-expire-day-5    "License expired after %d days"
    :license-expire-day-4    "License expired after %d days"
    :license-expire-day-3    "License expired after %d days"
    :license-expire-day-2    "License expired after %d days"
    :license-expire-day-1    "License expired after %d day"
    :license-expire-day-0    "License expired after %d days"
    :license-outdated        "Your license has expired"}}}}
