{:pl
 {:ui
  {:buttons
   {:no      "Nie"
    :yes     "Tak"
    :add     "Dodaj"
    :pay     "Płatność"
    :back    "Cofnij"
    :save    "Zapisz"
    :later   "Później"
    :login   "Login"
    :cancel  "Anuluj"
    :remove  "Usuń"
    :export  "Exportuj"
    :goback  "Wróć"
    :search  "Szukaj"
    :reload  "Przeładuj"
    :sign-in "Zaloguj"
    :logout  "Wyloguj"
    :connect "Połącz"
    :workers "Pracownicy"
    :refresh "Odśwież"
    :settings        "Ustawienia"
    :password        "Hasło"
    :register        "Rejestr"
    :close-app       "Zamknij aplikację"
    :reload-app      "Przeładuj aplikację"
    :export-odt      "Zapisz jako .odt"
    :disconnect      "Odłącz"
    :select-all      "Zaznacz wszystko"
    :rfid-cards      "Karty RFID"
    :clean-inputs    "Wyczyść pola"
    :add-contract    "Dodaj kontrakt"
    :show-changes    "Wyświetl zmiany"
    :clean-filters   "Wyczyść filtrowanie"
    :export-to-excel "Exportuj do Excela"
    :save-and-reload "Zapisz i przeładuj"
    :test-connection "Testuj połączenie"
    :messages-history "Historia powiadomień"
    :back-to-login-panel        "Wróć do panelu logowania"
    :restore-last-configuration "Przywróć ostatnią konfigurację"
    :reload-active-view "Przeładuj otwarty widok"
    :check-updates      "Sprawdź aktualizacje"
    :download           "Pobierz"
    :install            "Instaluj"
    :reinstall          "Reinstall"
    :downgrade          "Downgrade"
    :clean-environment  "Wyczyść zmienne środowiskowe"
    :extension-manager  "Menedżer rozszerzeń"
    :theme-manager      "Menedżer skórek"
    :var-list-panel     "Lista zmiennych"
    :db-visualizer      "DB Visualizer"
    :update-manager     "Menedżer aktualizacji"
    :apply              "Zastosuj"
    },
   
   :header
   {:login-db-config-editor "Konfiguracja połącznia z bazą danych."
    :dbtype "Typ połączenia"
    :host   "Host"
    :port   "Port"
    :dbname "Baza danych"
    :user   "Użytkownik bazy"
    :password "Hasło do bazy"
    :contact  "Kontakt"
    :faq      "FAQ"
    :error    "Błąd"
    :warning  "Uwaga"
    :info     "Powiadomienie"
    :success  "Sukces!"
    :failed   "Niepowodzenie!"
    :invalid-enterpreneur "Nieprawidłowy przedsiębiorca"
    :invalid-price        "Nieprawidłowa cena"
    :invalid-date         "Nieprawidłowa data"
    :error-with-sql-require "Błąd z zapytniem SQL"
    :enterprise   "Przedsiębiorca"
    :price        "Kwota"
    :date-start   "Data rozpoczęcia"
    :date-end     "Data zakończenia"
    :periods-count "Liczba okresów"
    :director      "Dyrektor"
    :VAT-Certificate "Kod VAT"
    :contacts-info   "Kontakt"
    :physical_address "Adres"
    :config-panel-title "Konfiguracje"
    :select-language    "Wybór języka"
    :choose-language    "Wybierz język"
    :need-reload        "Potrzebne przeładowanie"
    :avaliable-updates  "Aktualizacje są dostępne!"
    :update-manager     "Menedżer aktualizacji"
    :system-information "Informacje o systemie"
    :packages-to-install "Pakiety do instalacji"
    :available-packages "Dostępne pakiety"
    :current-version    "Obecna wersja"
    :pusty              "Pusto"
    :update-error       "Błąd aktualizacji"
    :system-updated     "System jest aktualny"
    :extension-manager  "Menedżer rozszerzeń"
    :installed-extentions "Zainstalowane rozszerzenia"
    :loaded-theme       "Załadowana skórka"
    :choose-theme       "Wybierz skórkę"
    }
   
   :alerts
   {:success "Sukces!"
    :changes-saved "Zapisano zmiany"
    :changes-saved-failed "Zapisanie zmian nie powiodło się"
    :column-saved-message "Zapisano zmiany w kolumnach."
    :column-save-failed-message "Wszystkie pola muszą być wypełnione i posiadać co najmniej 3 znaki."
    :save-changes? "Czy chcesz zapisać zmiany?"
    :changes-saved-but-need-reload "Zapisano zmiany. By je zastosować zrestartuj aplikację."
    :delete-element? "Czy napewno chcesz usunąć element?"
    :testing-connection "Testowanie połączenia z bazą danych."
    :information "Informacja"
    :write-enter-search "Wpisz frazę i kliknij - ENTER - by wyszukać w tabeli."
    :connected-to-database "Nawiązano połączenie z bazą danych."
    :connection-error "Błąd połączenia, sprawdz konfigurację."
    :connection-problem "Problem z połączeniem. Nie można połączyć się z bazą danych."
    :connection-faild "Połączenie nie powiodło się."
    :unsaved-changes-title "Nie zapisano zmian!"
    :unsaved-changes-body "Wprowadzono zmiany w konfiguracji, które nie zostały zapisane. Czy zamknąć okno mimo to?"
    :restore-configuration-ok "Przywrócono konfiguracje! Proszę bądź ostrożny następnym razem."
    :configuration-corrupted "Konfiguracja jest uszkodzona. Spróbuj przywrócić wcześniejszą wersję."
    :configuration-incorrect "Konfiguracja jest błędna. Proszę sprawdź parametry połączenia."
    :incorrect-login-or-pass "Nieprawidłowy login lub hasło. Upewnij się czy posiadasz dobre dane logowania."
    :something-went-wrong "Coś poszło nie tak. Nieokreślony błąd."
    :Unknown-database "Nieznana baza danych."
    :check-connection "Sprawdź połączenie."
    :incorrect-input-fields "Nie wszystkie pola są prawidłowo wypełnione!"
    :app-startup-fail "Wystąpił błąd aplikacji. Funkcja startująca nie została załadowana."
    :price-must-be-number "Cena musi być liczbą!"
    :field-is-empty "Pole jest puste!"
    :invalid-date-time-interval-info "Pole z datą nie może pozostać puste. Data początkowa musi być wcześniejsza niż data zakończenia."
    :added-service-contract "Pomyślnie dodano nowy kontrakt."
    :select-checkbox-for-payment "Proszę zaznaczyć checkbox z płatnością."
    :payments-finished-successfully "Płatności zakończone powodzeniem."
    :updated-data "Zaktualizowano dane."
    :tests-failed "Ładowanie zakończone niepowodzeniem <Tests failed>"
    :plugin-installed "Jarman %s zainstalowany pomyślnie."
    :package-downloaded "Paczka %s została pobrana."
    :config-deleted     "Lokalna konfiguracja Jarman została usunięta."
    :no-updates         "Nie znaleziono dostępnych aktualizacji."
    :downgrade-success  "Downgrade z wersji %s do %s przebiegł pomyślnie."
    :reloaded-extension "Rozszerzenie `%s` przeładowano pomyślnie."
    },
   
   :basic
   {:description "Opis",
    :yes "Tak",
    :empty "Pusty",
    :selected "Wybrany",
    :search-input "Wyszukaj",
    :in-short "We",
    :date-end "Data do",
    :click-to-choose "Kliknij by wybrać",
    :config-to-file "Konfiguracja do pliku -> ",
    :out "Wyjście",
    :date-start "Data od",
    :out-short "Wy",
    :search-tool "Wyszukiwarka",
    :parameters "Parametry",
    :no "Nie",
    :in "Wejście"
    :configuration  "Konfiguracja"
    :db-conn-config "Konfiguracja DB"
    :extension      "Rozszerzenie"
    :version        "Wersja"
    :package        "Paczka"
    :source         "Źródło"
    :theme          "Skórka"
    :variable       "Zmienna"
    },
   
   :tips
   {:save "Zapisz zmiany.",
    :clean "Wyczyść pola powyżej.",
    :del "Usuń pozycję z tabeli.",
    :clean-filter "Wyczyćś filtr wyszukiwania.",
    :search "Szukaj po tabeli.",
    :user-trash-can "Odłącz użytkownika od karty.",
    :excel "Zapisz widok do excela."
    :press-to-search "Wciśnij Ctrl + F by wyszukać rekord."
    :related-popup-table "Wyszukaj w powiązanej tabeli"
    :you-can-edit-this-position "Możesz edytować tą pozycję."
    :payment-is-done "Płatność zrealizowana."
    }
   
   :infos
   {:payment-done-lock-row "Płatność zrealizowana. Pozycja nie może być już edytowana."
    :wait-for-pay "Oczekiwanie na płatność."
    :no-items     "Brak pozycji"
    :info-panel-about   [["Trashpanda-Team" "Jesteśmy zespołem przyjaciół programistów mających na celu stworzenie uniwersalnej, a przy tym prostej w obsódze i rozwoju aplikacji. Kodzimy bo lubimy, kodzimy bo możemy, kodzimy by nasi klienci otrzymali to czego potrzebują."]
                         ["Jarman"  "Bazowa wersja aplikacji. Naszym marzeniem jest możliwość dostosowania jej do każdego przypadku, rozszerzając podstawowe funkcje z pomocą dołączanych pluginów oraz konfiguracji."]]
    
    :config-panel-about [["O konfiguracji" "Formatka dla konfiguracji w prosty sposób pozwoli na zapisanie lub edycję połączeń do bazy danych. Na tej podstawie możliwe będzie logowanie do systemu i uruchomienie aplikacji."]]

    :info-panel-faq   [{:question "Wystąpił problem i potrzebujesz pomocy?"
                        :answer   "Złap oddech i zachowuj spokój, nasz zespół z chęcią Ci pomoże. Dane kontaktowe znajdują się poniżej."}]

    :config-panel-faq [{:question "Dlaczego nie mogę się połączyć z serwerem?"
                        :answer   "Być może nieprawidłowo podano dane dla konfiguracji połączenia. Upewnij się, że konfiguracja jest prawidłowa. Jeśli nadal występuje problem, proszę sprawwdź połączenie z serwerem."}]

    :contact ["http://trashpanda-team.ddns.net"
              "contact.tteam@gmail.com"]}

   :license
   {
    :tenant                  "najemca"
    :license                 "licencja"
    :id-tenant               "id najemcy"
    :limitation              "ograniczenie"
    :creation-date           "tworzenie bazy danych"
    :expiration-date         "data wygaśnięcia"
    :broken-license          "Uszkodzone szyfrowanie licencji. Być może hash license został zmieniony."
    :empty-session-map       "Mapa sesji jest pusta, jeśli widzisz ten błąd powinieneś się skontaktować z pomocą techniczną."
    :cannot-connect-db       "Nie można podłączyć zdalnej bazy danych."
    :incorrect-login-pass    "Nieprawidłowy login lub hasło."
    :no-registered-license   "Nie znaleziono zarejestrowanej licencji."
    :bad-connection-settings "Błąd połączenia, proszę sprawdzić konfigurację."
    }
   }},
 
 :en
 {:ui
  {:buttons
   {:remove "Remove"
    :yes "Yes"
    :no "No"
    :add "Add"
    :cancel "Cancel"
    :show-changes "Show changes"
    :export-to-excel "Export to Excel"
    :export "Export"
    :connect "Connect"
    :settings "Settings"
    :save "Save"
    :search "Search"
    :connect-to-database "Connect to database"
    :register "Register"
    :back "Back"
    :goback "Step back"
    :restore-last-configuration "Restore last configuration"
    :disconnect "Disconnect"
    :rfid-cards "RFID cards"
    :clean-filters "Clean filters"
    :clean-inputs "Clean fields"
    :workers "Workers"
    :test-connection "Test connection"
    :save-and-reload "Save and reload"
    :login "Login"
    :password "Password"
    :back-to-login-panel "Return to login panel"
    :add-contract "Add contract"
    :select-all "Select all"
    :pay "Pay"
    :refresh "Refresh"
    :export-odt "Export to .odt"
    :close-app  "Close App"
    :logout     "Logout"
    :sign-in    "Login"
    :messages-history   "Message history"
    :reload-active-view "Reload opened view"
    :reload-app         "Reload app"
    :check-updates      "Check updates"
    :later              "Later"
    :download           "Download"
    :install            "Install"
    :reinstall          "Reinstall"
    :downgrade          "Downgrade"
    :clean-environment  "Clean environment"
    :extension-manager  "Extension manager"
    :theme-manager      "Theme manager"
    :var-list-panel     "Vars list"
    :db-visualizer      "DB Visualizer"
    :update-manager     "Update manager"
    :reload             "Reload"
    :apply              "Apply"
    }
   
   :header
   {:login-db-config-editor "Configuration of DB connection."
    :dbtype "Connection type"
    :host   "Host"
    :port   "Port"
    :dbname "Database"
    :user   "DB user"
    :password "DB password"
    :contact  "Contact"
    :faq      "FAQ"
    :error    "Error"
    :warning  "Warning"
    :info     "Information"
    :success  "Success!"
    :failed   "Niepowodzenie!"
    :invalid-enterpreneur "Invalid enterpreneur"
    :invalid-price        "Invalid price"
    :invalid-date         "Nieprawidłowa data"
    :error-with-sql-require "Error with SQL require"
    :enterprise   "Enterprise"
    :price        "Price"
    :date-start   "Start date"
    :date-end     "End date"
    :periods-count "Periods count"
    :director    "Director"
    :VAT-Certificate "VAT Certificate"
    :contacts-info   "Contact"
    :physical_address "Address"
    :config-panel-title "Configurations"
    :select-language    "Language selection"
    :choose-language    "Choose language"
    :need-reload        "Reload is needed"
    :avaliable-updates  "Updates are avaliable!"
    :update-manager     "Update manager"
    :system-information "System information"
    :packages-to-install "Package to install"
    :available-packages "Available packages"
    :current-version    "Current version"
    :pusty              "Empty"
    :update-error       "Update error"
    :system-updated     "System is updated"
    :downgrade-success  "Downgrade from %s to %s version was successfully"
    :extension-manager  "Extension manager"
    :installed-extentions "Installed extentions"
    :loaded-theme        "Loaded theme"
    :choose-theme        "Choose theme"
    }

   :alerts
   {:success "Success!"
    :faild "! Faild !"
    :changes-saved "Saved changes!"
    :changes-saved-failed "Can not saving changes."
    :column-saved-message "Saved changes in columns."
    :column-save-failed "Can not save the column parameters."
    :column-save-failed-message "All fields must be entered and must be longer than 3 chars."
    :save-changes? "Do you want to save changes?"
    :changes-saved-but-need-reload "Saved changes. To apply restart app."
    :delete-element? "Are you sure you want to remove item?"
    :testing-connection "Testing a database connection."
    :information "Information"
    :write-enter-search "Enter the phrase and click - Enter - to search in the table."
    :connected-to-database "Connected to database."
    :connection-error "Failed connection with database."
    :connection-problem "Connection problem. Can not connect to DB."
    :connection-faild "Connection faild."
    :unsaved-changes-title "Unsaved changes!"
    :unsaved-changes-body "Configuration changes have been made but not saved. Should I close the window anyway?"
    :export-doc-ok "Successfully exported the document."
    :export-doc-faild "An error was encountered during export. Action failed."
    :restore-configuration-ok "Configurations restored! Please be careful next time."
    :configuration-corrupted "The configuration is corrupted. Try to roll back to an earlier version."
    :configuration-incorrect "Configuration is incorrect. Please check connection parameters."
    :incorrect-login-or-pass "Incorrect login or password. Please check if your login informations are correct."
    :something-went-wrong "Something went wrong. Unknow problem."
    :Unknown-database "Unknown database."
    :check-connection "Check connection."
    :incorrect-input-fields "Not all fields are correct!"
    :app-startup-fail "Aplication error. Startup function was not loaded."
    :price-must-be-number "Price must be a number!"
    :field-is-empty "Field is empty!"
    :invalid-date-time-interval-info "Fields with date cannot be empty. Start day must be earlier than end date."
    :added-service-contract "Successfully added new service contract."
    :select-checkbox-for-payment "Please select checkbox with payment."
    :payments-finished-successfully "Payments are finished successfully."
    :updated-data "Updated data."
    :tests-failed "Loading failed <Tests failed>"
    :plugin-installed "Jarman %s installed successfully"
    :package-downloaded "Package %s was downloaded"
    :config-deleted "Local Jarman configuraion was deleted"
    :no-updates     "No avaliable updates."
    :reloaded-extension "Extension `%s` successfully reloaded."
    }

   :basic
   {:description "Description"
    :yes "Yes"
    :empty "Empty"
    :selected "Selected"
    :search-input "Search"
    :in-short "In"
    :date-end "Date from"
    :click-to-choose "Click to choose"
    :config-to-file "Configuration to file -> "
    :out "Out"
    :date-start "Date to"
    :out-short "Out"
    :search-tool "Search engine"
    :parameters "Parameters"
    :no "No"
    :in "Entrance"
    :configuration "Configuration"
    :db-conn-config "DB Configuration"
    :extension      "Extension"
    :version        "Version"
    :package        "Package"
    :source         "Source"
    :theme          "Theme"
    :variable       "Variable"
    }
   
   :tips
   {:save "Save changes."
    :clean "Clean up fields."
    :del "Remove item from table."
    :clean-filter "Clear search filter."
    :search "Search in table."
    :user-trash-can "Disconnect user from card."
    :excel "Save view to excel."
    :press-to-search "Press Ctrl + F to search record."
    :related-popup-table "Search inside related table"
    :you-can-edit-this-position "You can edit this row."
    :payment-is-done "Payment complete."
    }
   
   :infos
   {:payment-done-lock-row "Payment complete. Row can not be changed."
    :wait-for-pay "Waiting for payment."
    :no-items     "No items"
    :info-panel-about   [["Trashpanda-Team"
                          "We are a team of programmer friends who aim to create a universal application that is easy to use and expand. We coding because we like, we coding because we can, we coding becouse our clients need good solutions."]
                         ["Jarman"
                          "The base version of the application. Our dream is to be able to adapt it to each case, extending the basic functions with using plugins and configurations."]]
    
    :config-panel-about [["About configuration"
                          "The form for configuration allows you to easily save or edit connections to the database. On this basis, it will be possible to log into the system and launch the application."]]

    :info-panel-faq   [{:question "There was a problem and you need help?"
                        :answer   "Catch your breath and stay calm, our team will be happy to help you. Contact details are provided below."}]

    :config-panel-faq [{:question "Why can't I log into the system?"
                        :answer   "Perhaps the data for the connection configuration was incorrectly provided. Make sure the configuration is correct. If there is still a problem, please check the connection to the server."}]

    :contact ["http://trashpanda-team.ddns.net"
              "contact.tteam@gmail.com"]}
   :license
   {
    :tenant                  "tenant"
    :license                 "license"
    :id-tenant               "id tenant"
    :limitation              "limitation"
    :creation-date           "creation date"
    :expiration-date         "expiration date"
    :broken-license          "broken license decription, maybe license hash was changed"
    :empty-session-map       "session map is empty, this error you shuldn't see, please contact to tech support"
    :cannot-connect-db       "cannot connect to remote database"
    :incorrect-login-pass    "incorrect login or password "
    :no-registered-license   "not found registered license"
    :bad-connection-settings "bad connection settings, please carefully checkout your connections"
    }
   }}}
