{:name "Initial configuration"
 :display :edit
 :type :init
 :value {:lang {:name "Language"
	        :doc "Choose language for program "
	        :type :param
	        :component :combobox
	        :display :edit
                :value :pl}}}



