{:name "Initial configuration",
 :display :edit,
 :type :file,
 :value
 {:lang
  {:name "Language",
   :doc "Choose language for program ",
   :type :param,
   :component :selectbox,
   :display :edit,
   :value [:en :pl]}}}
