{:name "Initial configuration"
 :display :edit
 :type :init
 :value
 {:lang {:name "Language"
	 :doc [:cfg :init.edn :value :lang :doc]
	 :type :param
	 :component :text
	 :display? :edit
         :value "pl"}}}



