pom.xml
pom.xml.asc
profiles.clj
*.log.clj
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.hgignore
.calva/
.hg/
font_library.clj
icon_library.clj
*.zip
*.log
*.exe