{:name "Jarman Light",
 :autor "Trashpanda-Team",
 :display :edit,
 :type :file,
 :value
 {:color
  {:name "Konfiguracja kolorów skórki",
   :doc
   "blok konfiguracji kolorów zawiera grupowane presety\n kolorów dla tylko podanej skórki. Każdy parameter tego zestawu\n konfigurowany przez pola, które zmieniają kolorki przez podania do nich kolorków\n w systemie heksadycemalnym, 6-ciu, lub 3-szy kolorowym. Kolor jest kolorem\n tylko wtedy jak z przodu jest używany tak zwany symbol\n HEX-kolorów `#`(hash). Parametry: \"#FFF\" \"#fff\" \"#fFf\" \"#123ABC\" \"#123abc\" \"#3AF\"",
   :type :block,
   :display :edit,
   :value
   {:jarman
    {:doc "Podstawowe kolory Jarman IDE",
     :type :block,
     :display :edit,
     :value
     {:bar
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#292929"},
      :jarman
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#726ee5"},
      :light
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#96c1ea"},
      :dark
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#29295e"}}},
    :background
    {:type :block,
     :display :edit,
     :value
     {:button_selected
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ccc"},
      :gray
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ccc"},
      :button
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#eee"},
      :button_config
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :button_hover_light
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#d9ecff"},
      :header
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ccc"},
      :dark-header
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#494949"},
      :dark-gray
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#666"},
      :button_main
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :light-mute
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ddd"},
      :combobox
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :input
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :main
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#eee"},
      :button_hover
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#96c1ea"}}},
    :group-buttons
    {:type :block,
     :display :edit,
     :value
     {:background
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :background-hover
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#91c8ff"},
      :clicked
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#d9ecff"}}},
    :main-button
    {:type :block,
     :display :edit,
     :value
     {:background
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :clicked
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#96c1ea"}}},
    :foreground
    {:type :block,
     :display :edit,
     :value
     {:main
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#000"},
      :dark-header
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :button
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#000"},
      :button_hover
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#29295e"},
      :button_selected
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#000"},
      :doc-font-color
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#999"},
      :txt-font-color
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#000"}}},
    :border
    {:type :block,
     :display :edit,
     :value
     {:white
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :gray
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ccc"},
      :dark-gray
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#666"}}},
    :decorate
    {:type :block,
     :display :edit,
     :value
     {:underline
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#000"},
      :gray-underline
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ccc"},
      :focus-gained-dark
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#29295e"},
      :focus-gained
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#96c1ea"},
      :focus-lost
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#ccc"}}}}},
  :components
  {:name "Konfiguracja komponentów",
   :doc "Spersonalizuj komponenty",
   :type :block,
   :display :edit,
   :value
   {:message-box
    {:name "Message Box"
     :type :block
     :display :edit
     :value
     {:border-color
      {:type :param
       :display :edit
       :component :textcolor
       :value "#96c1ea"}
      :border-size
      {:doc "Bordet size top, bottom, left and right."
       :type :param
       :display :edit
       :component :textlist
       :value ["1" "1" "1" "1"]}}}
    :fake-focus
    {:name "Fake focus"
     :type :block
     :display :edit
     :value
     {:background
      {:type :param
       :display :edit
       :component :textcolor
       :value "#eee"}
      :background-hover
      {:type :param
       :display :edit
       :component :textcolor
       :value "#96c1ea"}}}
    :button-expand
    {:name "Expand button"
     :type :block
     :display :edit
     :value
     {:background
      {:type :param
       :display :edit
       :component :textcolor
       :value "#eee"}
      :background-hover
      {:type :param
       :display :edit
       :component :textcolor
       :value "#96c1ea"}}}
    :button-expand-child
    {:name "Expand button"
     :type :block
     :display :edit
     :value
     {:background
      {:type :param
       :display :edit
       :component :textcolor
       :value "#fff"}
      :background-hover
      {:type :param
       :display :edit
       :component :textcolor
       :value "#96c1ea"}}}
    :button-export
    {:name "Export button"
     :type :block
     :display :edit
     :value
     {:mouse-in
      {:type :param
       :display :edit
       :component :textcolor
       :value "#5ee6bf"}
      :mouse-out
      {:type :param
       :display :edit
       :component :textcolor
       :value "#95dec9"}
      :unfocus-color
      {:type :param
       :display :edit
       :component :textcolor
       :value "#95dec9"}}}
    :button-return
    {:name "Return button"
     :type :block
     :display :edit
     :value
     {:mouse-in
      {:type :param
       :display :edit
       :component :textcolor
       :value "#666"}
      :mouse-out
      {:type :param
       :display :edit
       :component :textcolor
       :value "#494949"}
      :unfocus-color
      {:type :param
       :display :edit
       :component :textcolor
       :value "#494949"}
      :foreground
      {:type :param
       :display :edit
       :component :textcolor
       :value "#fff"}}}
    :header-basic
    {:type :block
     :display :edit
     :value
     {:foreground
      {:type :param
       :display :edit
       :component :textcolor
       :value "#2c7375"}
      :background
      {:type :param
       :display :edit
       :component :textcolor
       :value "#ccc"}
      :border-color
      {:type :param
       :display :edit
       :component :textcolor
       :value "#ccc"}
      :border-size
      {:type :param
       :display :edit
       :component :textnumber
       :value 10}
      :underline-color
      {:type :param
       :display :edit
       :component :textcolor
       :value "#2c7375"}
      :underline-size
      {:type :param, :display :edit, :component :textnumber, :value 1}
      :font-size
      {:type :param
       :display :edit
       :component :textnumber
       :value 16}
      :font-style
      {:type :param
       :display :edit
       :component :selectbox
       :value ["bold" "italic" "plain"]}}}}},
  :font
  {:doc "Konfiguracja głównego okna HRTime",
   :type :block,
   :display :edit,
   :value
   {:bold
    {:type :param,
     :display :edit,
     :component :text,
     :value "Ubuntu Bold"},
    :regular
    {:type :param, :display :edit, :component :text, :value "Ubuntu"},
    :medium
    {:type :param,
     :display :edit,
     :component :text,
     :value "Ubuntu Medium"},
    :size-small
    {:type :param, :display :edit, :component :textnumber, :value 12},
    :style
    {:type :param, :display :edit, :component :text, :value :plain},
    :size-medium
    {:type :param, :display :edit, :component :textnumber, :value 16},
    :size-normal
    {:type :param, :display :edit, :component :textnumber, :value 14},
    :size-large
    {:type :param, :display :edit, :component :textnumber, :value 18},
    :light
    {:type :param,
     :display :edit,
     :component :text,
     :value "Ubuntu Light"}}},
  :frame
  {:doc "Konfiguracja głównego okna HRTime applikacji",
   :type :block,
   :display :edit,
   :value
   {:width
    {:type :param,
     :display :edit,
     :component :textnumber,
     :value 1200},
    :heigh
    {:type :param,
     :display :edit,
     :component :textnumber,
     :value 700}}},
  :ui
  {:doc "Specjalny przycisk ala Exportuj i t.d.",
   :type :block,
   :dispaly :edit,
   :value
   {:special-button
    {:type :block,
     :dispaly :edit,
     :value
     {:background
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#3b8276"},
      :background-hover
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#77e0cf"},
      :foreground
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#fff"},
      :foreground-hover
      {:type :param,
       :display :edit,
       :component :textcolor,
       :value "#000"},
      :horizontal-align
      {:type :param, :display :edit, :component :text, :value :center},
      :cursor
      {:type :param, :display :edit, :component :text, :value :hand},
      :font-style
      {:type :param,
       :display :edit,
       :component :text,
       :value :bold}}}}}}}
