{:name "Theme configuration",
 :display :edit,
 :type :file,
 :value
 {:selected-theme
  {:name "Konfiguracja skórki",
   :doc
   "Posiada konfiguracje styłowe globalne dla calego programu. Pole 'Selected theme' zwiera wybraną przez użytkownika skórkę. Która się uruchomi po ponownym restarcie aplikacji.",
   :type :param,
   :component :selectbox,
   :display :edit,
   :value ["jarman_light"]}}}
